<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Team overzicht</title>
    <link rel="stylesheet" type="text/css" href="voetbaluitslagen.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Voetbal teams</h1>

<h2>Een overzicht van de teams in deze divisie</h2>

<table>
    <tr>
        <th>Team naam</th>
    </tr>
    <tr th:each="team: ${allTeams}">
        <td th:text="${team.teamNaam}" />
    </tr>
</table>

<h2>Maak een nieuw team</h2>
    <form action="#" th:action="@{/team/new}" th:object="${team}" method="post">
        <p>Team name: <input type="text" th:field="*{teamNaam}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>
