<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Team overzicht</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/voetbaluitslagen.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header>

    <div th:replace="header :: header"></div>

</header>

<h1>Wedstrijden</h1>

<h2>Een overzicht van de gespeelde wedstrijden in deze divisie</h2>

<table class="table">
    <tr>
        <th>Wedstrijd overzicht</th>
    </tr>
    <tr th:each="wedstrijd: ${allWedstrijden}">
        <td th:text="${wedstrijd.teamThuis} + '-' + ${wedstrijd.teamUit}" />
<!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--            <td><a href="#" th:href="@{/team/delete/} + ${team.teamId}">Delete</a></td>-->
<!--        </div>-->
    </tr>
</table>

<h2>Maak een nieuwe wedstrijd</h2>
<!-- De @ staat voor het gedeelte achter PostMapping het dollarteken staat voor het Model
* staat voor een object uit het model-->
<!--    <form action="#" th:action="@{/wedstrijd/new}" th:object="${wedstrijd}" method="post">-->
        <div class="col-sm-5">
            <label>Kies een thuisteam</label>
            <form action="#" th:action="@{/wedstrijd/new}" th:object="${wedstrijd}" method="post">
                <select th:field="*{teamThuis}" class="form-control mb-2">
                        <option value="">Niets geselecteerd</option>
                        <option th:each="naamOpt : ${T(nl.miwgroningen.cohort3.reinout.vrijProject.voetbalUitslagen.Enums.Teams).values()}"
                                th:value="${naamOpt.displayValue}"
                                th:text="${naamOpt.displayValue}">
                        </option>
                </select>
            <label>Kies een uitteam</label>
                <select th:field="*{teamUit}" class="form-control mb-2">
                    <option value="">Niets geselecteerd</option>
                    <option th:each="naamOpt : ${T(nl.miwgroningen.cohort3.reinout.vrijProject.voetbalUitslagen.Enums.Teams).values()}"
                            th:value="${naamOpt.displayValue}"
                            th:text="${naamOpt.displayValue}">
                    </option>
                    <p><input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn btn-light" type="reset" value="Reset" />
                </select>
            </form>
        </div>
<!--</div>-->

</body>
</html>
